@media only screen and (min-width: 800px) {
  .main_img {
    width: 750px;
    height: 600px; /* 이미지 높이 설정 */
    background-size: cover; /* 이미지를 컨테이너에 맞게 조정 */
    background-position: center; /* 이미지를 가운데 정렬 */
    transition: background-image 0.5s ease-in-out; /* 이미지 변경 애니메이션 설정 */
    margin-bottom: 10px;
    margin-bottom: 10px;
  }
  .category_menu_box {
    height: 70px;
    width: 750px;
    display: flex;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .category_menu_box_0 {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    background-color: white;
    margin-left: 30px;
    background-size: cover;
    background-image: url("/public/basicicon/cate2.png");
    border: 1px solid rgb(236, 236, 237);
  }
  .category_menu_box_a {
    width: 10px;
    height: 70px;
    /* border-right: 1px solid rgb(236, 236, 237); */
    margin-left: 20px;
  }
  .category_menu_box_1 {
    width: 70px;
    height: 70px;
    border-radius: 15px;
    background-color: rgb(236, 236, 237);
    margin-left: 30px;
    background-size: cover;
    background-image: url("/public/basicicon/cloths2.png");
    cursor: pointer;
  }
  .category_menu_box_2 {
    width: 70px;
    height: 70px;
    border-radius: 15px;
    background-color: rgb(236, 236, 237);
    margin-left: 30px;
    background-size: cover;
    background-image: url("/public/basicicon/food1.png");
    cursor: pointer;
  }
  .category_menu_box_3 {
    width: 70px;
    height: 70px;
    border-radius: 15px;
    background-color: rgb(236, 236, 237);
    margin-left: 30px;
    background-size: cover;
    background-image: url("/public/basicicon/elect2.png");
    cursor: pointer;
  }
  .category_menu_box_4 {
    width: 70px;
    height: 70px;
    border-radius: 15px;
    background-color: rgb(236, 236, 237);
    margin-left: 30px;
    background-size: cover;
    background-image: url("/public/basicicon/ring.png");
    cursor: pointer;
  }
  .category_menu_box_5 {
    width: 70px;
    height: 70px;
    border-radius: 15px;
    background-color: rgb(236, 236, 237);
    margin-left: 30px;
    background-size: cover;
    background-image: url("/public/basicicon/sofa1.png");
    cursor: pointer;
  }
  .category_menu_box_6 {
    width: 70px;
    height: 70px;
    border-radius: 15px;
    background-color: rgb(236, 236, 237);
    margin-left: 30px;
    background-size: cover;
    background-image: url("/public/basicicon/etc.png");
    cursor: pointer;
  }

  .category_menu_box_name {
    height: 20px;
    width: 750px;
    display: flex;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .category_menu_box_0_name {
    width: 70px;
    height: 20px;
    border-radius: 10px;
    /* background-color: white; */
    margin-left: 30px;
    background-size: cover;

    text-align: center;
    line-height: 20px;
    font-weight: bold;
  }
  .category_menu_box_a_name {
    width: 10px;
    height: 20px;

    margin-left: 20px;
  }
  .category_menu_box_1_name {
    width: 70px;
    height: 20px;
    border-radius: 15px;

    margin-left: 30px;
    background-size: cover;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
  }
  .category_menu_box_2_name {
    width: 70px;
    height: 20px;
    border-radius: 15px;

    margin-left: 30px;
    background-size: cover;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
  }
  .category_menu_box_3_name {
    width: 70px;
    height: 20px;
    border-radius: 15px;

    margin-left: 30px;
    background-size: cover;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
  }
  .category_menu_box_4_name {
    width: 70px;
    height: 20px;
    border-radius: 15px;

    margin-left: 30px;
    background-size: cover;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
  }
  .category_menu_box_5_name {
    width: 70px;
    height: 20px;
    border-radius: 15px;

    margin-left: 30px;
    background-size: cover;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
  }
  .category_menu_box_6_name {
    width: 70px;
    height: 20px;
    border-radius: 15px;

    margin-left: 30px;
    background-size: cover;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
  }
  .main_sample_img_name {
    width: 100%;
    height: 50px;
    font-weight: bold; /* 글자 굵게 */
    font-size: 22px; /* 글자 크기 20px */
    text-align: left; /* 텍스트 왼쪽 정렬 */
    display: flex; /* Flexbox를 사용하여 요소를 컨테이너에 배치 */
    align-items: center; /* 세로 방향으로 중앙 정렬 */
    padding-left: 10px; /* 텍스트와 컨테이너 왼쪽 경계 사이의 공간 */
    margin-top: 10px;
    /* background-color: rgb(255, 255, 255); */
    border-radius: 10px;
  }
  .main_sample_img_name_box {
    width: 100px;
    height: 70%;
    border-radius: 10px;
    background-color: #ff6b6b;
    display: flex; /* Flexbox 레이아웃을 사용합니다 */
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    text-align: center;
  }

  .main_sample_img_box {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 세 개의 열 생성 */
    grid-gap: 15px;
    width: 100%;
    height: 360px;
    background-color: rgb(255, 255, 255);

    border-radius: 10px;
  }
  .main_map_box {
    width: 100%;
    height: 300px;
    /* height: 100%; */
    display: flex; /* Flexbox 레이아웃 사용 */
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .main_search_img {
    width: 100%;
    height: 230px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: block;
    border-radius: 15px;
    border: 1px solid rgb(241, 236, 234);
  }
  .main_search_text {
    display: flex;
    flex-direction: column;
    justify-content: center; /* 수직 중앙 정렬 */
    align-items: center; /* 수평 중앙 정렬 */
    width: 200px;
    height: 70px;
    /* border: 1px solid black;  */
    font-weight: bold; /* 텍스트를 굵게 */
    margin-top: 10px;
  }

  .main_search_text_name {
    font-size: 15px;

    text-overflow: ellipsis;
  }
}

/* 모바일 */
@media only screen and (max-width: 799px) {
  .main_img {
    width: 100%;
    height: 480px;
    background-size: cover;
    background-position: center; /* 이미지를 가운데 정렬 */
    transition: background-image 0.5s ease-in-out;
  }

  .category_menu_box {
    height: 70px;
    width: 100%;
    display: flex;
    background-color: white;
    justify-content: flex-start; /* 항목들을 컨테이너의 왼쪽부터 시작 */
    align-items: center; /* 세로 중심으로 항목들을 중앙 정렬 */
  }
  .category_menu_box_0 {
    width: 11%;
    height: 78%;
    border-radius: 3px;
    background-color: white;
    margin-left: 10px;
    background-size: cover;
    background-image: url("/public/basicicon/cate2.png");
    border: 1px solid rgb(236, 236, 237);
  }
  .category_menu_box_a {
    width: 10px;
    height: 60%;
    border-right: 1px solid rgb(236, 236, 237);
    /* margin-left: 20px; */
  }
  .category_menu_box_1 {
    width: 11%;
    height: 78%;
    border-radius: 3px;
    background-color: rgb(236, 236, 237);
    margin-left: 10px;
    background-size: cover;
    background-image: url("/public/basicicon/cloths2.png");
    cursor: pointer;
  }
  .category_menu_box_2 {
    width: 11%;
    height: 78%;
    border-radius: 3px;
    background-color: rgb(236, 236, 237);
    margin-left: 10px;
    background-size: cover;
    background-image: url("/public/basicicon/food1.png");
    cursor: pointer;
  }
  .category_menu_box_3 {
    width: 11%;
    height: 78%;
    border-radius: 3px;
    background-color: rgb(236, 236, 237);
    margin-left: 10px;
    background-size: cover;
    background-image: url("/public/basicicon/elect2.png");
    cursor: pointer;
  }
  .category_menu_box_4 {
    width: 11%;
    height: 78%;
    border-radius: 3px;
    background-color: rgb(236, 236, 237);
    margin-left: 10px;
    background-size: cover;
    background-image: url("/public/basicicon/ring.png");
    cursor: pointer;
  }
  .category_menu_box_5 {
    width: 11%;
    height: 78%;
    border-radius: 3px;
    background-color: rgb(236, 236, 237);
    margin-left: 10px;
    background-size: cover;
    background-image: url("/public/basicicon/sofa1.png");
    cursor: pointer;
  }
  .category_menu_box_6 {
    width: 11%;
    height: 78%;
    border-radius: 3px;
    background-color: rgb(236, 236, 237);
    margin-left: 10px;
    background-size: cover;
    background-image: url("/public/basicicon/etc.png");
    cursor: pointer;
  }
  .category_menu_box_name {
    height: 2%;
    width: 100%;
    display: flex;
    background-color: white;
  }

  .category_menu_box_0_name {
    width: 11%;
    height: 2%;
    border-radius: 10px;
    background-color: white;
    margin-left: 10px;
    background-size: cover;
    font-size: 11px;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
  }
  .category_menu_box_a_name {
    width: 10px;
    height: 20px;

    margin-left: 5px;
  }
  .category_menu_box_1_name {
    width: 11%;
    height: 2%;
    border-radius: 15px;
    font-size: 11px;
    margin-left: 5px;
    background-size: cover;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
  }
  .category_menu_box_2_name {
    width: 11%;
    height: 2%;
    border-radius: 15px;
    font-size: 11px;
    margin-left: 10px;
    background-size: cover;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
  }
  .category_menu_box_3_name {
    width: 11%;
    height: 2%;
    border-radius: 15px;
    font-size: 11px;
    margin-left: 10px;
    background-size: cover;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
  }
  .category_menu_box_4_name {
    width: 11%;
    height: 2%;
    border-radius: 15px;
    font-size: 11px;
    margin-left: 10px;
    background-size: cover;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
  }
  .category_menu_box_5_name {
    width: 11%;
    height: 2%;
    border-radius: 15px;
    font-size: 11px;
    margin-left: 10px;
    background-size: cover;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
  }
  .category_menu_box_6_name {
    width: 11%;
    height: 2%;
    border-radius: 15px;
    font-size: 11px;
    margin-left: 10px;
    background-size: cover;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
  }
  .main_sample_img_name {
    width: 100%;
    height: 50px;
    font-weight: bold; /* 글자 굵게 */
    font-size: 20px; /* 글자 크기 20px */
    text-align: left; /* 텍스트 왼쪽 정렬 */
    display: flex; /* Flexbox를 사용하여 요소를 컨테이너에 배치 */
    align-items: center; /* 세로 방향으로 중앙 정렬 */
    padding-left: 10px; /* 텍스트와 컨테이너 왼쪽 경계 사이의 공간 */
    margin-top: 10px;
  }
  .main_sample_img_name_box {
    width: 100px;
    height: 70%;
    border-radius: 10px;
    background-color: #ff6b6b;
    display: flex; /* Flexbox 레이아웃을 사용합니다 */
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    text-align: center;
  }
  .main_sample_img_box {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 세 개의 열 생성 */
    grid-gap: 15px;
    width: 100%;
    height: 300px;
  }
  .main_map_box {
    width: 100%;
    height: 90%;
    display: flex; /* Flexbox 레이아웃 사용 */
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .main_search_img {
    width: 100%;
    height: 170px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: block;
    border-radius: 15px;
    border: 1px solid rgb(241, 236, 234);
  }
  .main_search_text {
    display: flex;
    flex-direction: column;
    justify-content: center; /* 수직 중앙 정렬 */
    align-items: center; /* 수평 중앙 정렬 */
    width: 100%;
    height: 50px;
    /* border: 1px solid black;  */
    font-weight: bold; /* 텍스트를 굵게 */
    margin-top: 30px;
  }
  .main_search_text_name {
    font-size: 15px;
    text-overflow: ellipsis;
  }
  .main_search_text_price {
    height: 40px;
    font-size: 20px;
  }
}
