.mypage_state_btn {
  width: 100px;
  height: 50px;
}

.mypage_upper {
  width: 90%;
  height: 50px;
  border: 3px solid rgba(236, 236, 237, 0.24);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(122, 200, 245);
  width: 900px;
  margin-left: 150px;
  margin-bottom: 5px;
}
.mypage_upperh {
  border-left: 3px solid rgba(236, 236, 237, 0.089);
  margin-right: 20px;
  cursor: pointer;
}
.mypage_body {
  width: 90%;
  height: 80%;
  display: flex;
}

.mypage_menu_box {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed; /* 위치 고정 */
  top: 400px; /* 상단에서 얼마나 떨어져 있을지 설정 */

  border: 1px solid black;
}

.mypage_menu_button {
  width: 100%;
  height: 70px;
  /* background-color: rgb(76, 128, 177); */
  font-weight: bolder;
  color: black; /* 글자색 */
  border-bottom: 1px solid black; /* 테두리 없음 */
  border-radius: 4px; /* 모서리 둥글게 */
  cursor: pointer; /* 마우스 오버시 커서 변경 */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}
.seller_menu_button_1 {
  width: 100%;
  height: 70px;
  /* background-color: rgb(76, 128, 177); */
  font-weight: bolder;
  color: black; /* 글자색 */
  border-bottom: 1px solid black; /* 테두리 없음 */
  border-radius: 4px; /* 모서리 둥글게 */
  cursor: pointer; /* 마우스 오버시 커서 변경 */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  background-color: rgb(192, 192, 192);
}
.seller_menu_button_2 {
  width: 100%;
  height: 70px;
  /* background-color: rgb(76, 128, 177); */
  font-weight: bolder;
  color: black; /* 글자색 */
  border-bottom: 1px solid black; /* 테두리 없음 */
  border-radius: 4px; /* 모서리 둥글게 */
  cursor: pointer; /* 마우스 오버시 커서 변경 */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  background-color: rgb(192, 192, 192);
}
.mypage_menu_button_c {
  width: 100%;
  height: 70px;
  /* background-color: rgb(76, 128, 177); */
  font-weight: bolder;
  color: black; /* 글자색 */
  border-bottom: 1px solid black; /* 테두리 없음 */
  border-radius: 4px; /* 모서리 둥글게 */
  cursor: pointer; /* 마우스 오버시 커서 변경 */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  background-color: rgb(192, 192, 192);
}
.mypage_menu_button:hover {
  background-color: rgb(192, 192, 192);
}

.mypagebody {
  width: 900px;
  height: 1500px;
  /* background-color: antiquewhite; */
  border: 2px solid rgb(192, 192, 192);
  margin-left: 180px;
}

.mypage_myimg {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: flex-start; /* 가로 방향으로 왼쪽에서 시작하여 요소들을 배열 */
  border-bottom: 1px solid rgb(192, 192, 192);
}
.mypageinput2 {
  width: 100%;
  height: 1100px;
  display: flex;

  border-bottom: 1px solid rgb(192, 192, 192);
}
.mypageinput3 {
  width: 100%;
  height: 50px;
  display: flex;
  margin-top: 10px;
  border-bottom: 1px solid rgb(192, 192, 192);
}

.mypage_underbox1 {
  width: 200px;
  height: 200px;
  margin-left: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mypage_underbox2 {
  width: 260px;
  height: 230px;
  margin-left: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.mypage_underbox3 {
  width: 260px;
  height: 50px;
  margin-left: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
