/* Chatdot component styles */

.shopedit_container h1 {
  font-size: 30px;
  margin-bottom: 0px;
}

.shopedit-form-group {
  margin-bottom: 15px;
}

.shopedit-form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.eidtform_control {
  width: 100%;
  padding: 6px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.shopedit_edit {
  width: 730px;
  padding: 50px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0 auto;
}

.shopedit-profile-image {
  width: 200px; /* 작은 사이즈로 조정 */
  height: 200px; /* 작은 사이즈로 조정 */
  object-fit: cover;
  border-radius: 12px; /* 둥근 사각형 모양으로 조정 */
  margin-bottom: 15px;
  border: 2px solid #eee7e7; /* 테두리 스타일 추가 */
  margin: 0 auto; /* 가운데 정렬 */
  display: block; /* 블록 요소로 설정하여 가로폭을 100%로 설정 */
}

.shopedit_permit {
  display: block;
  width: 20%;
  padding: 10px 10px; /* 위아래 8px, 좌우 16px의 패딩 값을 지정 */
  font-size: 20px;
  text-align: center;
  color: #fff;
  background-color: #ff6b6b;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 30px; /* 버튼을 아래로 내리는 여백 설정 */
}

.shopedit_permit:hover {
  background-color: #ff4d4d;
}

.shopedit-btn {
  display: block;
  width: 18%;
  padding: 10px 10px; /* 위아래 8px, 좌우 16px의 패딩 값을 지정 */
  font-size: 15px;
  text-align: center;
  color: #fff;
  background-color: #808080;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 30px; /* 버튼을 아래로 내리는 여백 설정 */
}

.shopedit-btn:hover {
  background-color: #636363;
}
