/* 전체 페이지 스타일 */
/* body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
} */

/* 결제 완료 컨테이너 스타일 */
.payment-complete-container {
  /* max-width: 1500px; */
  width: 150;
  height: 300;
  padding: 7rem;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  background-color: #fff;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

/* 제목 스타일 */
h2 {
  color: #333;
  text-align: center;
  margin-top: 0;
}

/* 네비게이션 버튼 스타일 */
.navigation-buttons {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.navigation-button {
  background-color: #333;
  color: #fff;
  padding: 0.5rem 1rem;
  text-decoration: none;
  margin: 0 0.5rem;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.navigation-button:hover {
  background-color: #555;
}
